on: [push, pull_request]
name: Test
jobs:
  test:
    strategy:
      matrix:
        go: [ '1.19', '1.20', '1.21']
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go }}
    - run: go test ./...
